.offers{
    width:75%;
    height: 60vh;
    display: flex;
    margin: 50px;
    padding: 0px 140px;
    margin-bottom: 150px;
    
    background: linear-gradient(180deg,#fde1ff 0%,#e1ffea22 60% );
}

.offers-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.offers-left h1{
    color:#171717;
    font-size: 50px;
    font-weight: 600;
    /* padding:20px; */
}
.offers-left p{
    color:#171717;
    font-size: 22px;
    font-weight: 600;
}
.offers-left button{
    width:282px;
    height: 70px;
    border-radius: 35px;
    background: #ff4141;
    border: none;
    color: white;
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
    cursor: pointer;
}
.offers-right{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 50px;
}
@keyframes zoomIn {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
.offers-right img{
    height:500px;
    animation: zoomIn 1.5s forwards;
    
}
@media(max-width:1280px){
    .offers{
        padding: 0px 80px;
        margin-bottom:120px;
    }
    .offers-left h1{
        font-size: 40px;
    }
    .offers-left p{
        font-size: 18px;
    }
    .offers-right img{
        width: 300px;
    }
    .offers-left button{
        width: 220px;
        height: 50px;
        font-size: 18px;
    }.offers-right{
        padding-top: 30px;
    }
}
@media(max-width:1024px){
    .offers{
        padding: 0px 60px;
        margin-bottom:80px;
        height: 40vh;
    }
    .offers-left h1{
        font-size: 30px;
    }
    .offers-left p{
        font-size: 16px;
    }
    .offers-right img{
        width: 210px;
        height: 300px;
    }
    .offers-left button{
        width: 160px;
        height: 40px;
        font-size: 16px;
    }.offers-right{
        padding-top: 10px;
    }
}
@media(max-width:800px){
    .offers{
        padding: 0px 30px;
        margin-bottom:60px;
        margin-left: 40px;
    }
    .offers-left h1{
        font-size: 22px;
    }
    .offers-left p{
        font-size: 13px;
    }
    .offers-right img{
        width: 180px;
        height: 270px;
    }
    .offers-left button{
        width: 140px;
        height: 30px;
        font-size: 12px;
    }
}
@media(max-width:500px){
    .offers{
        padding: 0px 20px;
        margin-bottom:50px;
        height: 25vh;
        margin-left:40px;
    }
    .offers-left h1{
        font-size: 16px;
    }
    .offers-left p{
        font-size: 10px;
    }
    .offers-right img{
        width: 120px;
        height: 180px;
    }
    .offers-left button{
        width: 120px;
        height: 25px;
        font-size: 10px;
        margin-top: 12px;
    }

}

@keyframes offers_slide {
    0% {
        /* transform: translateX(-100%); */
        scale:0.4;
        opacity:0.8;
      }
      50% {
        /* transform: translateX(0); */
        scale:1;
        opacity: 1;
      }
  }
  
 .animate_offers {
    animation: offers_slide linear;
    animation-timeline: view();
  }