/* .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;
    box-shadow: 0 1px 3px -2px #000;
    margin-bottom: 1px;
    background: white;

} */
.nav-logo{
    width:60px;

}
.nav-profile{
    width: 75px;

}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;  /* Pushes first & last items to edges */
    padding: 0 20px;  /* Optional - for spacing from left & right */
}
.together{
    margin-left: -1200px;
}
@media(max-width:800px){
    .navbar{
        padding:15px 30px;
    }
    .nav-logo{
        width:150px;
    }
    .nav-profile{
        width: 60px;
    }
}